<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Icons -->
   <link rel="shortcut icon" href="static/images/fevicon.ico.png" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bot_style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    {% if title %}
        <title>Life Care - {{ title }}</title>
    {% else %}
        <title>Life Care</title>
    {% endif %}
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
      {{ flask_util_js.js }}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Hospital</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %} 
          <a class="btn btn-secondary btn-sm mt-2 mb-3" style="font-size: 16px ;background-color: rgb(15, 150, 204); border-color: rgb(15, 150, 204); color:white;" href="{{ url_for('nearby_bloodbank_map') }}">Blood Banks near me</a> 
          <a class="btn btn-secondary btn-sm mt-2 mb-3 ml-3" style="font-size: 16px ;background-color: rgb(15, 150, 204); border-color: rgb(15, 150, 204); color:white;" href="{{ url_for('important_hospital_contacts') }}">Hospital Contacts</a> 

            <h3 class="mb-4">Blood banks in Kolkata and their contact numbers</h3> 
            <table>
              <tr>
               <th>Serial No</th>
                <th>Blood Banks </th>
                <th>Location</th>
                <th>Contact number</th>
              </tr>
              <tr>
                  <td>1</td>
                  <td>Ashok Blood Bank</td>
                  <td>308, Jodhpur Park, Kolkata, West Bengal 700068</td>
                  <td>033 2472 0333</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Association Of Voluntary Blood Donors W B</td>
                  <td>20 A, Fordyce Lane, Entally, Kolkata - 700014</td>
                  <td>033 2227 1022</td>
                </tr>
          
          
                <tr>
                  <td>4</td>
                  <td>Bani mondal lab</td>
                  <td> 2, 7, Narkeldanga N Rd, Raja Nabakrishna Street, Narkeldanga, Kolkata, West Bengal 700011</td>
                  <td>078902 77509</td>
                </tr>
                
                <tr>
                  <td>5</td>
                  <td>Bhoruka Blood Bank</td>
                  <td>No.63, Rafi Ahmed Kidwai Rd, Esplanade, Mullick Bazar, Taltala, Kolkata, West Bengal 700016</td>
                  <td>033 2265 8092</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Biotech Tie Up Pvt Ltd</td>
                  <td> Fe12/2, Vidyasagar Pally, Baguiati, Kolkata - 700059</td>
                  <td>033 2570 8323</td>
                </tr>
              <tr>
                  <td>7</td>
                  <td>Blood Bankk</td>
                  <td>Calcutta Medical College, College Square, Kolkata, West Bengal 700073</td>
                  <td>033 2255 1538</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Blood Bankk(Barasat District Hospital)</td>
                  <td> Banamalipur, Kolkata, West Bengal 700124</td>
                  <td>033 2584 0268</td>
                </tr>
          
          
                <tr>
                  <td>9</td>
                  <td>Calcutta Hospital</td>
                  <td>7/2, Diamond Harbour Road, Kolkata - 700027</td>
                  <td>98244 03696</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Calcutta National Medical College & Hospital Blood Bank</td>
                  <td>24, Gorachand Rd, Beniapukur, Kolkata, West Bengal 700014</td>
                  <td>033 2284 8397</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td> Central Blood Bank</td>
                  <td>Vivekananda Road, Beadon Street, Kolkata - 700006, Near Maniktalla More</td>
                  <td>033 2351 0619</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>Chbttaranjan Hospital </td>
                  <td>No 14 Gora Chand Road, Kolkata - 700014</td>
                  <td>94280 00223</td>
                </tr>
          
          
                <tr>
                  <td>13</td>
                  <td>Federation of Indian Blood Donors Organisations(FIBDO)</td>
                  <td>30/1/1, Nilmoni Mitra St, Girish Park, Garanhatta, Beniatola, Kolkata, West Bengal 700006</td>
                  <td>098302 44388</td>
                </tr>
          
                <tr>
                  <td>14</td>
                  <td>Health Point Blood Bank</td>
                  <td>56, Sarat Bose Rd, Chakraberia, Ballygunge, Kolkata, West Bengal 700019</td>
                  <td>033 3057 5735</td>
                </tr>
          
              <tr>
                  <td>15</td>
                  <td>IBTM&IH</td>
                  <td>205, Vivekananda Rd, Manicktala, Sahitya Parishad, Market(East, Kolkata, West Bengal 700006</td>
                  <td>033 2351 0620</td>
                </tr>
                <tr>
                  <td>16</td>
                  <td>Indian Blood Bank</td>
                  <td>8, Narkeldanga Main Road, Kadapara, Phool Bagan, Kankurgachi, Kolkata - 700010</td>
                  <td>033 6461 0972</td>
                </tr>
                <tr>
                  <td>17</td>
                  <td>Indian Blood Bank</td>
                  <td>81/C, Narkeldanga Main Rd, Near Swabhumi, Kadapara, Phool Bagan, Kankurgachi, Kolkata, West Bengal 700054</td>
                  <td>090380 10972</td>
                </tr>
                <tr>
                  <td>18</td>
                  <td>Institute of Blood Transfusion</td>
                  <td> 205, Vivekananda Rd, Manicktala, Garpar, Machuabazar, Kolkata, West Bengal 700009</td>
                  <td>033 2351 0619</td>
                </tr>
          
                <tr>
                  <td>19</td>
                  <td>Kothari Blood Bank</td>
                  <td>8/3, Alipore Road, Alipore, Kolkata - 700027, Near Alipore Zoological Garden</td>
                  <td>033 2456 7059</td>
                </tr>
          
                <tr>
                  <td>20</td>
                  <td>Life Care Blood Bank</td>
                  <td>204/1B, Linton St, Beniapukur, Kolkata, West Bengal 700014</td>
                  <td>033 2284 2298</td>
                </tr>
              <tr>
                <td>21</td>
                <td>Lions District 322B1 Blood Bank</td>
                <td>27, 5, Esplanade, Chowringhee North, Bow Barracks, Kolkata, West Bengal 700069</td>
                <td>033 2248 5778</td>
              </tr>
             
          
               <tr>
                  <td>22</td>
                  <td>MRS Blood Bank Mgd by Lions BBD Bag Foundation</td>
                  <td>225/227, Rabindra Sarani, Raja Katra, Jorasanko, Kolkata, West Bengal 700007</td>
                  <td>033 2274 5675</td>
                </tr>
          
                <tr>
                  <td>23</td>
                  <td>Nrs Blood Bank</td>
                  <td>Raja Bazar, Sealdah, Kolkata - 700014</td>
                  <td>82553 34560</td>
                </tr>
          
              
                <td>24</td>
                <td>OM Blood Bank Kolkata</td>
                <td>133, H/1, Beleghata Main Rd, Seal Lane, Tangra, Kolkata, West Bengal 700015</td>
                <td> 033 2251 8191</td>
              </tr>
          
              <tr>
                <td>25</td>
                <td>People`s Blood Bank</td>
                <td>Ashutosh College, Shyama Prasad Mukherjee Rd, near, Lake Market, Bhowanipore, Kolkata, West Bengal 700025</td>
                <td> 033 2455 5164</td>
              </tr>
             
              <tr>
                  <td>26</td>
                  <td>Quadra</td>
                  <td>S-D-4, Bus Stop, Sonarpur Bhangor Road, Sonarpur Bazar, Bus Stand, Sonarpur, Kolkata, West Bengal 700150</td>
                  <td> 033 2428 0098</td>
                </tr>
              
          
          
              <tr>
                  <td>27</td>
                  <td>R G Kar Medical College Blood Bank</td>
                  <td>203, Vivekananda Rd, Manicktala, Garpar, Kolkata, West Bengal 700006</td>
                  <td>033 25331277</td>
              </tr>
              <tr>
                  <td>28</td>
                  <td>Ramakrishna Mission Seva Pratisthan Blood Bank</td>
                  <td>99, Sarat Bose Road, Kalighat, Kolkata - 700026, Near Ramkrishna Mission Seva Pratisthan</td>
                  <td>033 2475 3636</td>
              </tr>
              <tr>
                  <td>29</td>
                  <td>Rotary Narayana Blood Bank</td>
                  <td>C N 5, Kolkata - 700091, Sector 5, Near Wipro</td>
                  <td>033 2367 3313</td>
              </tr>
                  
          
               <tr>
                  <td>30</td>
                  <td>Sales Marketing Blood</td>
                  <td> Dna 54a, Bidhan Nagar, Bidhan Nagar, Kolkata, West Bengal 700091</td>
                  <td>033 2367 3423</td>
              </tr>
          
               <tr>
                  <td>31</td>
                  <td>Specialist Corner</td>
                  <td>90, Santoshpur Road, Jadavpur, Rani Rashmoni Bagan, Santoshpur, Kolkata, West Bengal 700032</td>
                  <td>033 2416 7636</td>
              </tr>
              <tr>
                <td>32</td>
                <td>SSKM Hospital Blood Bank</td>
                <td>Shikha Sarkar Rd, S.S.K.M. Hospital, Bhowanipore, Kolkata, West Bengal 700020</td>
                <td>033 2204 1233</td>
              </tr>
              <tr>
                  <td>33</td>
                  <td>Swasti SRL</td>
                  <td>21/1, Gora Chand Road, Entally, Kolkata - 700014, Near chitranjan hospital </td>
                  <td>89266 21803</td>
              </tr>
              <tr>
                  <td>34</td>
                  <td>Swastik Blood Bank</td>
                  <td>Hazra, Sarat Bose Road, Kalighat, Kolkata - 700026 </td>
                  <td>99342 08632</td>
                </tr>
          </table>
            </div>
            <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>Check these out!
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('necessary_information') }}">Necessary information</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('view_announcement') }}">View announcements</a></li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
            </div>
        </div>
        </main>
        <button class="open-button" onclick="openForm()" style="right: 70px;">
          <img src="static/images/lifebot.gif" alt="Avatar" class="avatar" style="right: 50px;">
        </button>
        <div class="container" id="myForm" style="display: none; width: 500px;z-index: 9;position: fixed;right: 15px;bottom: 0px;border: none;">
          <div class="chat" style="display: flex;flex-direction: column;height: 80vh;width:490px;background: rgb(227, 230, 221);border-style: ridge;">
             <div class="chat-header">
                <div class="profile">
                   <div class="left">
                      <img src="static/images/lifebot.gif" class="pp" style="margin-bottom: 2px; width: 60px; height: 60px;">
                      <button style="border-radius: 50%; position: fixed; right: 20px; bottom: 750px; padding-right: 5px; margin-right: 2px;background-color: white; border-width: thin;" onclick="closeForm()"><i class="fa fa-close" style="margin-left: 5px ;font-size:20px; cursor: pointer; "></i></button>
                      <h3 style="margin-left: 18px; margin-bottom: 20px;">Life-Care Bot</h3>
                      <span style="padding-top: 6px;color: white; margin-left: 8px; margin-bottom: 16px; font-size: 15px;">Ask me questions about this website</span>
                   </div>
                </div>
             </div>
             <div class="chat-box" style="background-image: url({{ url_for('static', filename='images/chat-back.jpg') }})">
                <div class="chat-l">
                   <div class="mess">
                      <p id="bot-chat" style="display: inline;color:black;">Hi, how are you doing?</p> <a style="display: inline;" href="{{ url_for('home') }}" id="goto"></a>
                   </div>
                   <div class="sp"></div>
                </div>
                <div class="chat-r">
                   <div class="sp"></div>
                   <div class="mess mess-r">
                      <p id="user-chat" style="margin-right: 2px; display: inline-block;color:black;"></p>
                   </div>
                </div>	
             </div>
        
             <div class="chat-footer" style="margin-bottom: 6px;">
                <form class="form-container" id="user_chat_form" style="white-space: nowrap;"> 
                   <input type="text" size="40" name="query" autocomplete="off" placeholder="Ask me Something..." style="display: inline-block; color: black;" id="user-text">
                <a href="" id="process_input" style="display: inline-block;color:black;"><button style="border-width: thin;font-size:25px;color:black; display: inline-block; border-radius: 50%; width:50px; height:50px; background-color: #2895f1; cursor: pointer; margin-right: 5px;" onclick="userMessage()"><i class="fa fa-send-o" style="border-radius: 50%;"></i></button></a>
                </form>
             </div>
          </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type=text/javascript>
          var count = 1;
         $(function() {
           $('a#process_input').bind('click', function() {
          const p = document.createElement('p');
          const a = document.createElement('a');
          const v1 = document.createElement('div');
          const v2 = document.createElement('div');
          const v3 = document.createElement('div');
          
          a.setAttribute("class", "user-chat");
          a.setAttribute("style", "font-size: 18px");
          console.log("Is it in background process?");
          // Fetching The RESPONSE 
             $.getJSON('/background_process', {
               query: $('input[name="query"]').val(),
             }, function(data) {
             
             // Cleaning the input text box after each message
             document.getElementById('user-text').value = '';
                 if (data.result_link == ""){
                     } else if (data.result_args == ""){
                      a.setAttribute("href", flask_util.url_for(data.result_link));  
                      a.innerHTML += "here";
                     }else{
                         var args = data.result_args;
                         var value = data.result_value;
                         var link = data.result_link;
                         if(args == "disease_type"){
                            a.setAttribute("href", flask_util.url_for(data.result_link, {disease_type:value}));
                         } else {
                            a.setAttribute("href", flask_util.url_for(data.result_link)+"/"+value);
                         }
                         a.innerHTML += "here";
                //console.log(flask_util.url_for(data.result_link));
               }
               p.innerHTML += data.result_text;
               p.setAttribute("style", "color:black;display:inline;word-break: break-word;");
               p.setAttribute("id", "bot-chat");
        
               v1.setAttribute("class", "chat-l");
               v2.setAttribute("class", "mess");
               v3.setAttribute("class", "sp");
               v2.appendChild(p);
               v2.appendChild(a);
               v2.appendChild(v3);
               v1.appendChild(v2);
        
               document.querySelector('.chat-box').append(v1);
               scrollDownChatWindow();
             //   document.querySelector('.chat-box').appendChild(p);
             //   document.querySelector('.chat-box').appendChild(a);
             });
             return false;
          
           });
         });
        
        function userMessage() {
          if (count == 1){
             document.getElementById('user-chat').innerHTML = document.getElementById('user-text').value;
             count += 1;
             
          }
          else{
             const p = document.createElement('p');
             const v1 = document.createElement('div');
             const v2 = document.createElement('div');
             const v3 = document.createElement('div');
             
             v1.setAttribute('class', 'chat-r');
             v2.setAttribute('class', 'sp');
             v3.setAttribute('class', 'mess mess-r')
             // v3.setAttribute('style', 'float: right');
             p.setAttribute("id", "user-chat");
        
             var user_message = document.getElementById('user-text').value;
             p.setAttribute("style", "color:black");
             p.setAttribute("font", "15px");
             p.innerHTML += user_message;
        
             v1.appendChild(v2);
             v3.appendChild(p);
             v1.appendChild(v3);
             
             document.querySelector('.chat-box').append(v1);
             scrollDownChatWindow();
          }
          // Clear input area
          
        }
        function openForm() {
         document.getElementById("myForm").style.display = "block";
         document.querySelector("#user-text").focus();
        }
        
        function closeForm() {
         document.getElementById("myForm").style.display = "none";
        }
        
        function scrollDownChatWindow() {
          const chatWindow = document.querySelector(".chat-box");
          chatWindow.scrollTop = chatWindow.scrollHeight;
        }
        </script>
        

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>