<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Icons -->
   <link rel="shortcut icon" href="static/images/fevicon.ico.png" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bot_style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    {% if title %}
        <title>Life Care - {{ title }}</title>
    {% else %}
        <title>Life Care</title>
    {% endif %}
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
      {{ flask_util_js.js }}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Hospital</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %} 
          
          <a class="btn btn-secondary btn-sm mt-3 mb-4" style="font-size: 16px ;background-color: rgb(15, 150, 204); border-color: rgb(15, 150, 204); color:white;" href="{{ url_for('important_hospital_contacts') }}">Hospital Contacts</a> 
          <a class="btn btn-secondary btn-sm mt-3 mb-4 ml-3" style="font-size: 16px ;background-color: rgb(15, 150, 204); border-color: rgb(15, 150, 204); color:white;" href="{{ url_for('important_blood_bank_contacts') }}">Blood Bank Contacts</a>

            <h3 class="mb-4">Ambulance services in Kolkata and their contact numbers</h3> 
            <table>
              <tr>
               <th>Serial No</th>
                <th>Ambulance Name</th>
                <th style="text-align: center;">Location</th>
                <th>Ph. Number</th>
              </tr>
              <tr>
                <td>1</td>
                <td>Addya Maa Ambulance & Medical Service</td>
                <td>#108-A, Dr G S Bose Rd, Kata Pukur, Kasba, Kolkata, West Bengal 700039</td>
                <td> <a href="tel:+918420946146">8420946146</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Air Ambulance Services in Kolkata - Panchmukhi</td>
                <td> Waterloo Street, Cossipore, Lalbajar, College Square, Kolkata, West Bengal 700012</td>
                <td><a href="tel:+919825263125">9825263125</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Air Ambulance Services in Kolkata - Panchmukhi</td>
                <td>Benia Para Ln, Beniapukur, Kolkata, West Bengal 700014</td>
                <td><a href="tel:+919955990333">9955990333</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Air Rescuers World Wide Pvt.Ltd</td>
                <td> No. 3, Motilal Colony, Airport, PO, Dum Dum, Kolkata, West Bengal 700081</td>
                <td><a href="tel:+919977331118">9977331118</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Ambulance Sadharan Sammilani</td>
                <td> 149, Haridhan Chakraborty Sarani, Aghor Sarani Thakur Pur More, Paschatya Para, Sonarpur, Kolkata, West Bengal 700150</td>
                <td><a href="tel:+918017175441">8017175441</a></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Anjuman Mufidul Islam</td>
                <td>20, Noor Ali Ln, Beniapukur, Kolkata, West Bengal 700014</td>
                <td><a href="tel:03322847728">033 2284 7728</a></td>
            </tr>
            <tr>
                <td>7</td>
                <td>Aradhya Ambulance</td>
                <td>MR BANGUR HOSPITAL</td>
                <td><a href="tel:+919830516703">9830516703</a></td>
            </tr>
            <tr>
                <td>8</td>
                <td>BISWAJIT AMBULANCE Service Saltlake</td>
                <td>Anandalok hospital,saltlake, Dk7/3, DK Block, Sector II, Bidhannagar, Kolkata, West Bengal 700091</td>
                <td><a href="tel:+918420977575">8420977575</a></td>
            </tr>
            <tr>
                <td>9</td>
                <td>Bluebells Ambulance Service</td>
                <td>35 A, Shyama Prasad Mukherjee Rd, Jatin Das Park, Shyama Prasad Colony, Bhowanipore, Kolkata, West Bengal 700025</td>
                <td><a href="tel:+919830034475">9830034475</a></td>
            </tr>
            <tr>
                <td>10</td>
                <td>Book My Ambulance</td>
                <td> Topsia More, East Topsia, Topsia, Kolkata, West Bengal 700046</td>
                <td><a href="tel:+918100010154">8100010154</a></td>
            </tr>
            <tr>
                <td>11</td>
                <td>Essential Service Centre </td>
                <td>42/8, Bedia Danga 2nd Ln, LALKUTHY, Kasba, Kolkata, West Bengal 700039</td>
                <td><a href="tel:+919774535256">9774535256</a></td>
            </tr>
            <tr>
                <td>12</td>
                <td>Falcon Emergency Train Rail Ambulance Services In Kolkata</td>
                <td>Girish Vidya Ratna Ln, Machuabazar, Kolkata, West Bengal 700009</td>
                <td><a href="tel:+919205909876">9205909876</a></td>
            </tr>
            <tr>
                <td>13</td>
                <td>Hindustan Ambulance Service</td>
                <td>P-147, Prosanta Sure Nagar, Near 18B/1 Bus Stand, Ruby Hospital, West Bengal 700107</td>
                <td><a href="tel:+919836909839">9836909839</a></td>
            </tr>
            <tr>
                <td>14</td>
                <td>Hindusthan Ambulance Services</td>
                <td>  No. 182, 1-B, Bose Pukur Rd, Bosepukur, Gariahat, Kolkata, West Bengal 700029</td>
                <td><a href="tel:+919521245124">9521245124</a></td>
            </tr>
            <tr>
                <td>15</td>
                <td>Ishan Ambulance Service Provider</td>
                <td> Plot No-BE 70, East Kolkata Township, K.M.D.A Project, P.O Varba, West Bengal 700107</td>
                <td><a href="tel:+919836072444">9836072444</a></td>
            </tr>
            <tr>
                <td>16</td>
                <td>King Air and Train Ambulance Services</td>
                <td> Dr Lalit Banerjee Sarani, Calcutta Medical College, College Square, Kolkata, West Bengal 700012</td>
                <td><a href="tel:+917091360310">7091360310</a></td>
            </tr>
            <tr>
                <td>17</td>
                <td>KMC Ambulance Service</td>
                <td>Chittaranjan Ave, Calcutta University, Bowbazar, Kolkata, West Bengal 700073</td>
                <td><a href="tel:03322197202">033 2219 7202</a></td>
            </tr>
            <tr>
                <td>18</td>
                <td>LOKENATH AMBULANCE SERVICE</td>
                <td>CK Block-44, ANANDALOK HOSPITAL ,Sector II, Bidhannagar, near 9 No. Water Tank, Kolkata, West Bengal 700091</td>
                <td><a href="tel:+919831341671">9831341671</a></td>
            </tr>
            <tr>
                <td>19</td>
                <td>LOKENATH AMBULANCE SERVICE</td>
                <td>1F, Raja Subodh Chandra Mallick Rd, Jadavpur, Kolkata, West Bengal 700032</td>
                <td><a href="tel:+918013476160">8013476160</a></td>
            </tr>
            <tr>
                <td>20</td>
                <td>M/s. Jain Kalyan Singh</td>
                <td> 265, Rabindra Sarani, Chitpur, Pathuriaghata St, Malapara, Santoshpur, Beniatola, Kolkata, West Bengal 700007</td>
                <td><a href="tel:03324746190">033 2474 6190</a></td>
            </tr>
            <tr>
                <td>21</td>
                <td>Medivic Aviation Air Ambulance Services in Kolkata</td>
                <td>Nilachal Rd, Nilachal, Birati, North Dumdum, West Bengal 700134</td>
                <td><a href="tel:+91">+91 </a></td>
            </tr>
            <tr>
                <td>22</td>
                <td>Medivic Train Rail Ambulance Services in Kolkata</td>
                <td>Nawab Abdul Latif St, Maula Ali, Taltala, Kolkata, West Bengal 700014</td>
                <td><a href="tel:+9195806123829">95806123829</a></td>
            </tr>
            <tr>
                <td>23</td>
                <td>Meera Seva Kendra</td>
                <td>255, Petrol Pump, 23, Netaji Subhash Chandra Bose Rd, beside Naktala, Suryanagar, Regent Grove, Bansdroni, Kolkata, West Bengal 700047</td>
                <td><a href="tel:+916291317341">6291317341</a></td>
            </tr>
            <tr>
                <td>24</td>
                <td>MM AMBULANCE Service</td>
                <td>KB Block, Sector III, Bidhannagar, Kolkata, West Bengal 700098</td>
                <td><a href="tel:+918671539937">8671539937</a></td>
            </tr>
            <tr>
                <td>25</td>
                <td>Narayan Ambulance Service</td>
                <td>241, DPS Rd, Opp.M R Bangur Hospital, Tollygunge, Kolkata, West Bengal 700033</td>
                <td><a href="tel:+919163635162">9163635162</a></td>
            </tr>
            <tr>
                <td>26</td>
                <td>Nirbhar Ambulance & Hearse Van service</td>
                <td>Madhya Para, Shantiniketan Apartment, NIRBHAR VIP near Airport, Narayanpur Rd, Kaikhali, West Bengal 700052</td>
                <td><a href="tel:+918582935898">8582935898</a></td>
            </tr>
            <tr>
                <td>27</td>
                <td>Panchmukhi Air and Train Ambulance Services</td>
                <td> Lansdowne Pl, Dover Terrace, Ballygunge, Kolkata, West Bengal 700019</td>
                <td><a href="tel:+91">+91 </a></td>
            </tr>
            <tr>
                <td>28</td>
                <td>Pritam Ambulance Services</td>
                <td> P-14/1, Jadavpur Station Rd, Jadavpur, Kolkata, West Bengal 700032</td>
                <td><a href="tel:+917059484445">7059484445</a></td>
            </tr>
            <tr>
                <td>29</td>
                <td>RADHA KRISHNA AMBULANCE SERVICE</td>
                <td>DK 7/3 , ANANDALAK HOSPITAL, Bidhannagar, Sector II, Kolkata, West Bengal 700091</td>
                <td><a href="tel:+919830354617">9830354617</a></td>
            </tr>
            <tr>
                <td>30</td>
                <td>RAJKUMAR DAY NIGHT AMBULANCE SERVICE</td>
                <td>MOHANPUR KUNDU BARI KALAYANI HIGH ROAD,NONA -CHANDANPUKUR, Kolkata, West Bengal 700122</td>
                <td><a href="tel:+919831342643">9831342643</a></td>
            </tr>
            <tr>
                <td>31</td>
                <td>St John Ambulance</td>
                <td>41/1A, Townshend Rd, Paddapukur, Bhowanipore, Kolkata, West Bengal 700025</td>
                <td><a href="tel:03324863926">033 2486 3926</a></td>
            </tr>
            <tr>
                <td>32</td>
                <td>St. John Ambulance Association</td>
                <td>Hem Chandra Naskar Rd, Phool Bagan, Kankurgachi, Kolkata, West Bengal 700010</td>
                <td><a href="tel:+919830023653">9830023653</a></td>
            </tr>
            <tr>
                <td>33</td>
                <td>St. John Ambulance Association</td>
                <td>71/1, Bagbazar St, Bag Bazar Colony, Baghbazar, Kolkata, West Bengal 700003</td>
                <td><a href="tel:+919831520999">9831520999</a></td>
            </tr>
            <tr>
                <td>34</td>
                <td>Swargadut</td>
                <td>RG KAR MEDICAL COLLEGE</td>
                <td><a href="tel:+919830955965">9830955965</a></td>
            </tr>
            <tr>
                <td>35</td>
                <td>Tapas Ambulance</td>
                <td> Mohanpur uttarpara Barrackpore, Kolkata, West Bengal 700121</td>
                <td><a href="tel:+919830751716">9830751716</a></td>
            </tr>
            <tr>
                <td>36</td>
                <td>The Golden Hour</td>
                <td>Near Kalighat Metro Station, Gariahat Rd, Kolkata, West Bengal 700029</td>
                <td><a href="tel:+919831444428">9831444428</a></td>
            </tr>
            <tr>
                <td>37</td>
                <td>The Golden Hour </td>
                <td>Gariahat, Near, Triangular Park, Kolkata, West Bengal 700029</td>
                <td><a href="tel:+919748835218">9748835218</a></td>
            </tr>
            <tr>
                <td>38</td>
                <td>UTTAM AMBULANCE SERVICE</td>
                <td> 57/6, Barrackpore Trunk Rd, Phool Bagan, Cossipore, Kolkata, West Bengal 700002</td>
                <td><a href="tel:+9194613424513">94613424513</a></td>
            </tr>  
          </table>
            </div>
            <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>Check these out!
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('necessary_information') }}">Necessary information</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('view_announcement') }}">View announcements</a></li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
            </div>
        </div>
        </main>
        <button class="open-button" onclick="openForm()" style="right: 70px;">
          <img src="static/images/lifebot.gif" alt="Avatar" class="avatar" style="right: 50px;">
        </button>
        <div class="container" id="myForm" style="display: none; width: 500px;z-index: 9;position: fixed;right: 15px;bottom: 0px;border: none;">
          <div class="chat" style="display: flex;flex-direction: column;height: 80vh;width:490px;background: rgb(227, 230, 221);border-style: ridge;">
             <div class="chat-header">
                <div class="profile">
                   <div class="left">
                      <img src="static/images/lifebot.gif" class="pp" style="margin-bottom: 2px; width: 60px; height: 60px;">
                      <button style="border-radius: 50%; position: fixed; right: 20px; bottom: 750px; padding-right: 5px; margin-right: 2px;background-color: white; border-width: thin;" onclick="closeForm()"><i class="fa fa-close" style="margin-left: 5px ;font-size:20px; cursor: pointer; "></i></button>
                      <h3 style="margin-left: 18px; margin-bottom: 20px;">Life-Care Bot</h3>
                      <span style="padding-top: 6px;color: white; margin-left: 8px; margin-bottom: 16px; font-size: 15px;">Ask me questions about this website</span>
                   </div>
                </div>
             </div>
             <div class="chat-box" style="background-image: url({{ url_for('static', filename='images/chat-back.jpg') }})">
                <div class="chat-l">
                   <div class="mess">
                      <p id="bot-chat" style="display: inline;color:black;">Hi, how are you doing?</p> <a style="display: inline;" href="{{ url_for('home') }}" id="goto"></a>
                   </div>
                   <div class="sp"></div>
                </div>
                <div class="chat-r">
                   <div class="sp"></div>
                   <div class="mess mess-r">
                      <p id="user-chat" style="margin-right: 2px; display: inline-block;color:black;"></p>
                   </div>
                </div>	
             </div>
        
             <div class="chat-footer" style="margin-bottom: 6px;">
                <form class="form-container" id="user_chat_form" style="white-space: nowrap;"> 
                   <input type="text" size="40" name="query" autocomplete="off" placeholder="Ask me Something..." style="display: inline-block; color: black;" id="user-text">
                <a href="" id="process_input" style="display: inline-block;color:black;"><button style="border-width: thin;font-size:25px;color:black; display: inline-block; border-radius: 50%; width:50px; height:50px; background-color: #2895f1; cursor: pointer; margin-right: 5px;" onclick="userMessage()"><i class="fa fa-send-o" style="border-radius: 50%;"></i></button></a>
                </form>
             </div>
          </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type=text/javascript>
          var count = 1;
         $(function() {
           $('a#process_input').bind('click', function() {
          const p = document.createElement('p');
          const a = document.createElement('a');
          const v1 = document.createElement('div');
          const v2 = document.createElement('div');
          const v3 = document.createElement('div');
          
          a.setAttribute("class", "user-chat");
          a.setAttribute("style", "font-size: 18px");
          console.log("Is it in background process?");
          // Fetching The RESPONSE 
             $.getJSON('/background_process', {
               query: $('input[name="query"]').val(),
             }, function(data) {
             
             // Cleaning the input text box after each message
             document.getElementById('user-text').value = '';
                 if (data.result_link == ""){
                     } else if (data.result_args == ""){
                      a.setAttribute("href", flask_util.url_for(data.result_link));  
                      a.innerHTML += "here";
                     }else{
                         var args = data.result_args;
                         var value = data.result_value;
                         var link = data.result_link;
                         if(args == "disease_type"){
                            a.setAttribute("href", flask_util.url_for(data.result_link, {disease_type:value}));
                         } else {
                            a.setAttribute("href", flask_util.url_for(data.result_link)+"/"+value);
                         }
                         a.innerHTML += "here";
                //console.log(flask_util.url_for(data.result_link));
               }
               p.innerHTML += data.result_text;
               p.setAttribute("style", "color:black;display:inline;word-break: break-word;");
               p.setAttribute("id", "bot-chat");
        
               v1.setAttribute("class", "chat-l");
               v2.setAttribute("class", "mess");
               v3.setAttribute("class", "sp");
               v2.appendChild(p);
               v2.appendChild(a);
               v2.appendChild(v3);
               v1.appendChild(v2);
        
               document.querySelector('.chat-box').append(v1);
               scrollDownChatWindow();
             //   document.querySelector('.chat-box').appendChild(p);
             //   document.querySelector('.chat-box').appendChild(a);
             });
             return false;
          
           });
         });
        
        function userMessage() {
          if (count == 1){
             document.getElementById('user-chat').innerHTML = document.getElementById('user-text').value;
             count += 1;
             
          }
          else{
             const p = document.createElement('p');
             const v1 = document.createElement('div');
             const v2 = document.createElement('div');
             const v3 = document.createElement('div');
             
             v1.setAttribute('class', 'chat-r');
             v2.setAttribute('class', 'sp');
             v3.setAttribute('class', 'mess mess-r')
             // v3.setAttribute('style', 'float: right');
             p.setAttribute("id", "user-chat");
        
             var user_message = document.getElementById('user-text').value;
             p.setAttribute("style", "color:black");
             p.setAttribute("font", "15px");
             p.innerHTML += user_message;
        
             v1.appendChild(v2);
             v3.appendChild(p);
             v1.appendChild(v3);
             
             document.querySelector('.chat-box').append(v1);
             scrollDownChatWindow();
          }
          // Clear input area
          
        }
        function openForm() {
         document.getElementById("myForm").style.display = "block";
         document.querySelector("#user-text").focus();
        }
        
        function closeForm() {
         document.getElementById("myForm").style.display = "none";
        }
        
        function scrollDownChatWindow() {
          const chatWindow = document.querySelector(".chat-box");
          chatWindow.scrollTop = chatWindow.scrollHeight;
        }
        </script>
</body>
</html>