<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Icons -->
   <link rel="shortcut icon" href="static/images/fevicon.ico.png" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    {% if title %}
        <title>Life Care - {{ title }}</title>
    {% else %}
        <title>Life Care</title>
    {% endif %}
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Hospital</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %} 
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('nearby_hospital_map') }}">Hospitals near me</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('important_blood_bank_contacts') }}">Blood Bank Contacts</a>      
              </br> </br><h3 class="mb-4">Hospitals in Kolkata and their contact numbers</h3>   
          <table>
              <tr>
                <th>Serial No</th>
                <th>Hospital Name</th>
                <th>Address</th>
                <th>Contact number</th>
              </tr>
              <tr>
                <td>1</td>
                <td>AMRI Hospital</td>
                <td>16 17, JC Block Lane, Broadway Rd, Sector III, Bidhannagar, Kolkata, West Bengal 700098</td>
                <td>033 6606 3800</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Anandalok Hospital</td>
                <td>DK-7/3 3rd Avenue Rd, beside National Dairy Development Board, Sector II, Bidhannagar, Kolkata, West Bengal 700091</td>
                <td>033 2359 2932</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Apollo Gleneagles Hospitals Limited</td>
                <td>58, Canal Circular Rd, Kadapara, Phool Bagan, Kankurgachi, Kolkata, West Bengal 700054</td>
                <td>033 2320 3040</td>
              </tr>
              <tr>
                <td>4</td>
                <td>B.P. Poddar Hospital & Medical Research Limited</td>
                <td>71/1, Humayun Kabir Sarani, Block – G, New Alipore, Kolkata, West Bengal 700053</td>
                <td> 033 4022 6002</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Beleghata I.D. And B.G. Hospital</td>
                <td>57, Beleghata Main Rd, Subhas Sarobar Park, Phool Bagan, Beleghata, Kolkata, West Bengal 700010</td>
                <td> 033 2303 2200</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Belle Vue Clinic</td>
                <td>9, Dr. U. N. Brahmachari Street (Formerly Loudon Street), Elgin, Kolkata, West Bengal 700017</td>
                <td>033 2287 2321</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Bhagirathi Neotia Woman and Child Care Centre</td>
                <td> 2, Rawdon St, Mullick Bazar, Park Street area, Kolkata, West Bengal 700017</td>
                <td>033 4040 5000</td>
              </tr>
              <tr>
                <td>8</td>
                <td>BM Birla Heart Research Centre | CK Birla Hospitals</td>
                <td> 1, National Library Ave, Alipore, Kolkata, West Bengal 700027</td>
                <td>033 3040 3040</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Calcutta Pay Clinic Hospital</td>
                <td>New Park St, Madurdaha, Beniapukur, Kolkata, West Bengal 700017</td>
                <td>+91 8765435696</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Charnock Hospital</td>
                <td> RGM-2103, Tegharia Major Arterial Road, Dhalipara, Tegharia, Newtown, Kolkata, West Bengal 700157</td>
                <td>033 4050 0500</td>
              </tr>
              <tr>
                <td>11</td>
                <td>Chittaranjan Seva Sadan And Sishu Sadan Hospital</td>
                <td>83, Shyama Prasad Mukherjee Rd, Bakul Bagan, Bhowanipore, Kolkata, West Bengal 700026</td>
                <td>033 2475 4584</td>
              </tr>
              <tr>
                <td>12</td>
                <td>Columbia Asia Hospital Salt Lake</td>
                <td>IB-193, Broadway Rd, Sector III, Bidhannagar, Kolkata, West Bengal 700091</td>
                <td>033 6600 3300</td>
              </tr>
              <tr>
                <td>13</td>
                <td>Command Hospital</td>
                <td> 17/1E, Alipore Rd, Alipore Police Line, Alipore, Kolkata, West Bengal 700027</td>
                <td>033 2479 1567</td>
              </tr>
              <tr>
                <td>14</td>
                <td>Deshbandhu Nagar Hospital</td>
                <td>Desh Bandhu Nagar, Baguiati, Kolkata, West Bengal 700059</td>
                <td>033 2576 2117</td>
              </tr>
              <tr>
                <td>15</td>
                <td>Esi Hospital</td>
                <td> 3A / 17, Maharani Swarnamoyee Rd, Raja Bazar, Kolkata, West Bengal 700009</td>
                <td>033 2350 1977</td>
              </tr>
              <tr>
                <td>16</td>
                <td>Eskag Sanjeevani Multispeciality Hospital</td>
                <td> P-48, Khirode Vidyavinode Ave, Bag Bazar Colony, Baghbazar, Kolkata, West Bengal 700003</td>
                <td>033 4025 1800</td>
              </tr>
              <tr>
                <td>17</td>
                <td>Flemming Hospital</td>
                <td>11A, 1H, Topsia Rd, Mirania Gardens, East Topsia, Topsia, Kolkata, West Bengal 700046</td>
                <td>033 4068 6161</td>
              </tr>
              <tr>
                <td>18</td>
                <td>Fortis Medical Centre</td>
                <td> 2/7, Sarat Bose Road, Opp. Minto Park, Kolkata, West Bengal 700020</td>
                <td>033 6620 2000</td>
              </tr>
              <tr>
                <td>19</td>
                <td>Genesis Hospital</td>
                <td>1470, Rajdanga Main Road, Sector C, East Kolkata Twp, Kolkata, West Bengal 700107</td>
                <td>033 2442 4242</td>
              </tr>
              <tr>
                <td>20</td>
                <td>HCG EKO Cancer Centre</td>
                <td> Plot no.- DG-4, Premises, 03-358, Street Number 358, DG Block(Newtown), Action Area I, Newtown, Kolkata, West Bengal 700156</td>
                <td>+91 7406499999</td>
              </tr>
              <tr>
                <td>21</td>
                <td>Humanity Hospital</td>
                <td> Hanspukur-Kalagachia Road, Hanspukur, Thakurpukur, Bardhanpalli, Joka, Kolkata, West Bengal 700104</td>
                <td>033 2467 0639</td>
              </tr>
              <tr>
                <td>22</td>
                <td>ILS Hospitals</td>
                <td>DD-6, 3rd Ave, Near City Centre, Sector 1, Bidhannagar, Kolkata, West Bengal 700064</td>
                <td>033 4020 6500</td>
              </tr>
              <tr>
                <td>23</td>
                <td>Institute Of Neurosciences Kolkata</td>
                <td>185, 1, Acharya Jagadish Chandra Bose Rd, Park Street area, Kolkata, West Bengal 700017</td>
                <td>033 4030 9999</td>
              </tr>
              <tr>
                <td>24</td>
                <td>IPGME&R and SSKM Hospital Kolkata</td>
                <td> SSKM Hospital Rd, Bhowanipore, Kolkata, West Bengal 700020</td>
                <td>+91 6290081711</td>
              </tr>
              <tr>
                <td>25</td>
                <td>IRIS Multispeciality Hospital</td>
                <td>82, 1, Raja Subodh Chandra Mallick Rd, next to Big Bazaar, Vidyasagar Colony, Ganguly Bagan, Kolkata, West Bengal 700047</td>
                <td>+91 8336900450</td>
              </tr>
              <tr>
                <td>26</td>
                <td>Kothari Medical Centre</td>
                <td> 8/3, Alipore Rd, Alipore, Kolkata, West Bengal 700027</td>
                <td>033 4012 7000</td>
              </tr>
              <tr>
                <td>27</td>
                <td>Lady Dufferin Victoria Hospital</td>
                <td> Raj Kumar Chakraborty Ln, near Bank Of India, Baithakkhana, Kolkata, West Bengal 700009</td>
                <td>033 2350 0771</td>
              </tr>
              <tr>
                <td>28</td>
                <td>Lions North Calcutta Hospital & Medical Centre</td>
                <td>141, Regent Park, Ranikuthi, Kolkata, West Bengal 700040</td>
                <td>033 2377 0076</td>
              </tr>
              <tr>
                <td>29</td>
                <td>M R Bangur Super Speciality Hospital</td>
                <td>247, Deshapran Sasmal Rd, Rajendra Prasad Colony, Tollygunge, Kolkata, West Bengal 700033</td>
                <td>033 2473 3944</td>
              </tr>
              <tr>
                <td>30</td>
                <td>Medical College Hospital</td>
                <td>88, College St, Calcutta Medical College, College Square, Kolkata, West Bengal 700073</td>
                <td>033 2255 1621</td>
              </tr>
              <tr>
                <td>31</td>
                <td>Mercy Hospital</td>
                <td>125/1, Park Street, Mullick Bazar, Park Street area, Kolkata, West Bengal 700017</td>
                <td>033 6635 2003</td>
              </tr>
              <tr>
                <td>32</td>
                <td>Mission Hospital</td>
                <td>40-B, 45, Acharya Jagadish Chandra Bose Road, Rippon Street, Taltala, Kolkata, West Bengal 700017</td>
                <td>033 2229 8787</td>
              </tr>
              <tr>
                <td>33</td>
                <td>Narayana Multispeciality Hospital</td>
                <td>78, Jessore Rd, Barasat, Kolkata, West Bengal 700127</td>
                <td>+91 9836113636</td>
              </tr>
              <tr>
                <td>34</td>
                <td>NETAJI SUBHAS CHANDRA BOSE CANCER HOSPITAL</td>
                <td>3081, Nayabad Main Rd, New Garia, Pancha Sayar, Kolkata, West Bengal 700094</td>
                <td>+91 9874210007</td>
              </tr>
              <tr>
                <td>35</td>
                <td>Nightingale Hospital</td>
                <td>11, Shakespeare Sarani Rd, Kankaria Estates, Park Street area, Kolkata, West Bengal 700071</td>
                <td>033 2282 7971</td>
              </tr>
              <tr>
                <td>36</td>
                <td>North City Hospital</td>
                <td>73 & 81B, Bagmari Road, Near Ultadanga Hudco Stop, Kolkata, West Bengal 700054</td>
                <td>033 6605 0999</td>
              </tr>
              <tr>
                <td>37</td>
                <td>Ohio Hospital</td>
                <td>Plot No. DG-6 Service Road, Street Number 358, Newtown, Kolkata, West Bengal 700156</td>
                <td>033 6602 6602</td>
              </tr>
              <tr>
                <td>38</td>
                <td>OPD, R.G.Kar Medical College and Hospital</td>
                <td>1, Khudiram Bose Sarani, Bidhan Sarani, Shyam Bazar, Kolkata, West Bengal 700004</td>
                <td>033 2555 7656</td>
              </tr>
              <tr>
                <td>39</td>
                <td>Peerless Hospital</td>
                <td> 360, Pancha Sayar Rd, Sahid Smirity Colony, Pancha Sayar, Kolkata, West Bengal 700094</td>
                <td>033 4011 1222</td>
              </tr>
              <tr>
                <td>40</td>
                <td>Rabindranath Tagore International Institute Of Cardiac Sciences</td>
                <td>Premises No: 1489, Mukundapur Main Road, 124, Eastern Metropolitan Bypass, Mukundapur, Kolkata, West Bengal 700099</td>
                <td>+91 9903335544</td>
              </tr>
              <tr>
                <td>41</td>
                <td>Ruby General Hospital</td>
                <td>E. M. Bypass, Sector I, Kasba Golpark, Kolkata, West Bengal 700107</td>
                <td>033 6687 18004</td>
              </tr>
              <tr>
                <td>42</td>
                <td>Sambhunath Pandit Hospital</td>
                <td>11, Elgin Rd, Sreepally, Bhowanipore, Kolkata, West Bengal 700020</td>
                <td>033 2302 2820</td>
              </tr>
              <tr>
                <td>43</td>
                <td>Shree Vishudhanand Hospital</td>
                <td>35/37, Burtolla St, Raja Katra, Bara Bazar, Jorasanko, Kolkata, West Bengal 700007</td>
                <td> 033 4023 3030</td>
              </tr>
              <tr>
                <td>44</td>
                <td>South Eastern Railway Central Hospital</td>
                <td>Quarters, S Eastern Railway, Rail Colony, Garden Reach, Kolkata, West Bengal 700043</td>
                <td>033 2439 7828</td>
              </tr>
              <tr>
                <td>45</td>
                <td>Tata Medical Center</td>
                <td>14, MAR(E-W), DH Block(Newtown), Action Area I, Newtown, Kolkata, West Bengal</td>
                <td>033 6605 7000</td>
              </tr>
              <tr>
                <td>46</td>
                <td>The Calcutta Homoeopathic Medical College & Hospital</td>
                <td>265, 266, Acharya Prafulla Chandra Rd, Yogi Para, Garpar, Machuabazar, Kolkata, West Bengal 700009</td>
                <td>033 2351 7675</td>
              </tr>
              <tr>
                <td>47</td>
                <td>TRA General Hospital</td>
                <td> 7, Dr Biresh Guha St, Park Circus, Ballygunge, Kolkata, West Bengal 700017</td>
                <td>033 4011 6800</td>
              </tr>
              <tr>
                <td>48</td>
                <td>Vivekananda Hospital & Research Institute</td>
                <td>P-516/1, Banamali Naskar Road, Parnasree Palli, Behala, Kolkata, West Bengal 700060</td>
                <td>033 2406 9353</td>
              </tr>
              <tr>
                <td>49</td>
                <td>Woodlands Multispeciality Hospital Limited</td>
                <td> 8/5, Alipore Rd, Alipore, Kolkata, West Bengal 700027</td>
                <td>033 2456 7075</td>
              </tr>
              <tr>
                <td>50</td>
                <td>Yashoda Hospitals Medical Information Centre</td>
                <td>Victoria Medical Center, Marss Education Building, Kolkata, West Bengal 700103</td>
                <td>+91 9108032911</td>
              </tr>
              <tr>
                <td>51</td>
                <td>Zenith Super Specialist Hospital</td>
                <td>9, 3, Feeder Rd, Rathtala, Belghoria, Kolkata, West Bengal 700056</td>
                <td>033 2544 4391</td>
              </tr>
          </table>
            </div>
            <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>Check these out!
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('necessary_information') }}">Necessary information</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('view_announcement') }}">View announcements</a></li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
            </div>
        </div>
        </main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>