{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Are you a Doctor?</legend>
                <div class="form-check">
                    {{ form.yes_doctor(class="form-check-input") }}
                    {{ form.yes_doctor.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                    {{ form.no_doctor(class="form-check-input") }}
                    {{ form.no_doctor.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}