<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Icons -->
   <link rel="shortcut icon" href="{{ url_for('static', filename='images/fevicon.ico.png') }}" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bot_style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    {% if title %}
        <title>Life Care - {{ title }}</title>
    {% else %}
        <title>Life Care</title>
    {% endif %}
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      </style>
      {{ flask_util_js.js }}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('home') }}">Life Care</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %} 
          <a class="btn btn-secondary btn-sm mt-2 mb-3" style="font-size: 16px ;background-color: rgb(15, 150, 204); border-color: rgb(15, 150, 204); color:white;" href="{{ url_for('choose_doctor') }}">Doctor from specific field</a> 
            <h3 class="mb-4">All {{ speciality }} list</h3> 
            <table>
              <tr>
                <th>Doctor name</th>
                <th>Location</th>
                <th>Consultancy fee</th>
              </tr>
            {% for doctor in doctors.items %}
              <tr>
                  <td><a href="{{ url_for('doctor_description', doctor_id=doctor.id) }}" class="card-text" style="text-align: center;">{{ doctor.username }}</a></td>
                  <td>{{ doctor.location }}</td>
                  <td>{{ doctor.consultation_fee }}</td>
                </tr>
            {% endfor %}
          </table>
          {% for page_num in doctors.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if doctors.page == page_num %}
                    <a class="btn btn-info mb-4 mt-2" href="{{ url_for('all_doctors', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4 mt-2" href="{{ url_for('all_doctors', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
            {% endfor %}
            </div>
            <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>Check these out!
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('necessary_information') }}">Necessary information</a></li>
                    <li class="list-group-item list-group-item-light"><a href="{{ url_for('view_announcement') }}">View announcements</a></li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
            </div>
        </div>
        </main>
        <button class="open-button" onclick="openForm()" style="right: 70px;">
          <img src="{{ url_for('static', filename='images/lifebot.gif') }}" alt="Avatar" class="avatar" style="right: 50px;">
        </button>
        <div class="container" id="myForm" style="display: none; width: 500px;z-index: 9;position: fixed;right: 15px;bottom: 0px;border: none;">
          <div class="chat" style="display: flex;flex-direction: column;height: 80vh;width:490px;background: rgb(227, 230, 221);border-style: ridge;">
             <div class="chat-header">
                <div class="profile">
                   <div class="left">
                      <img src="{{ url_for('static', filename='images/lifebot.gif') }}" class="pp" style="margin-bottom: 2px; width: 60px; height: 60px;">
                      <button style="border-radius: 50%; position: fixed; right: 20px; bottom: 750px; padding-right: 5px; margin-right: 2px;background-color: white; border-width: thin;" onclick="closeForm()"><i class="fa fa-close" style="margin-left: 5px ;font-size:20px; cursor: pointer; "></i></button>
                      <h3 style="margin-left: 18px; margin-bottom: 20px;">Life-Care Bot</h3>
                      <span style="padding-top: 6px;color: white; margin-left: 8px; margin-bottom: 16px; font-size: 15px;">Ask me questions about this website</span>
                   </div>
                </div>
             </div>
             <div class="chat-box" style="background-image: url({{ url_for('static', filename='images/chat-back.jpg') }})">
                <div class="chat-l">
                   <div class="mess">
                      <p id="bot-chat" style="display: inline;color:black;">Hi, how are you doing?</p> <a style="display: inline;" href="{{ url_for('home') }}" id="goto"></a>
                   </div>
                   <div class="sp"></div>
                </div>
                <div class="chat-r">
                   <div class="sp"></div>
                   <div class="mess mess-r">
                      <p id="user-chat" style="margin-right: 2px; display: inline-block;color:black;"></p>
                   </div>
                </div>	
             </div>
        
             <div class="chat-footer" style="margin-bottom: 6px;">
                <form class="form-container" id="user_chat_form" style="white-space: nowrap;"> 
                   <input type="text" size="40" name="query" autocomplete="off" placeholder="Ask me Something..." style="display: inline-block; color: black;" id="user-text">
                <a href="" id="process_input" style="display: inline-block;color:black;"><button style="border-width: thin;font-size:25px;color:black; display: inline-block; border-radius: 50%; width:50px; height:50px; background-color: #2895f1; cursor: pointer; margin-right: 5px;" onclick="userMessage()"><i class="fa fa-send-o" style="border-radius: 50%;"></i></button></a>
                </form>
             </div>
          </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type=text/javascript>
          var count = 1;
         $(function() {
           $('a#process_input').bind('click', function() {
          const p = document.createElement('p');
          const a = document.createElement('a');
          const v1 = document.createElement('div');
          const v2 = document.createElement('div');
          const v3 = document.createElement('div');
          
          a.setAttribute("class", "user-chat");
          a.setAttribute("style", "font-size: 18px");
          console.log("Is it in background process?");
          // Fetching The RESPONSE 
             $.getJSON('/background_process', {
               query: $('input[name="query"]').val(),
             }, function(data) {
             
             // Cleaning the input text box after each message
             document.getElementById('user-text').value = '';
                 if (data.result_link == ""){
                     } else if (data.result_args == ""){
                      a.setAttribute("href", flask_util.url_for(data.result_link));  
                      a.innerHTML += "here";
                     }else{
                         var args = data.result_args;
                         var value = data.result_value;
                         var link = data.result_link;
                         if(args == "disease_type"){
                            a.setAttribute("href", flask_util.url_for(data.result_link, {disease_type:value}));
                         } else {
                            a.setAttribute("href", flask_util.url_for(data.result_link)+"/"+value);
                         }
                         a.innerHTML += "here";
                //console.log(flask_util.url_for(data.result_link));
               }
               p.innerHTML += data.result_text;
               p.setAttribute("style", "color:black;display:inline;word-break: break-word;");
               p.setAttribute("id", "bot-chat");
        
               v1.setAttribute("class", "chat-l");
               v2.setAttribute("class", "mess");
               v3.setAttribute("class", "sp");
               v2.appendChild(p);
               v2.appendChild(a);
               v2.appendChild(v3);
               v1.appendChild(v2);
        
               document.querySelector('.chat-box').append(v1);
               scrollDownChatWindow();
             //   document.querySelector('.chat-box').appendChild(p);
             //   document.querySelector('.chat-box').appendChild(a);
             });
             return false;
          
           });
         });
        
        function userMessage() {
          if (count == 1){
             document.getElementById('user-chat').innerHTML = document.getElementById('user-text').value;
             count += 1;
             
          }
          else{
             const p = document.createElement('p');
             const v1 = document.createElement('div');
             const v2 = document.createElement('div');
             const v3 = document.createElement('div');
             
             v1.setAttribute('class', 'chat-r');
             v2.setAttribute('class', 'sp');
             v3.setAttribute('class', 'mess mess-r')
             // v3.setAttribute('style', 'float: right');
             p.setAttribute("id", "user-chat");
        
             var user_message = document.getElementById('user-text').value;
             p.setAttribute("style", "color:black");
             p.setAttribute("font", "15px");
             p.innerHTML += user_message;
        
             v1.appendChild(v2);
             v3.appendChild(p);
             v1.appendChild(v3);
             
             document.querySelector('.chat-box').append(v1);
             scrollDownChatWindow();
          }
          // Clear input area
          
        }
        function openForm() {
         document.getElementById("myForm").style.display = "block";
         document.querySelector("#user-text").focus();
        }
        
        function closeForm() {
         document.getElementById("myForm").style.display = "none";
        }
        
        function scrollDownChatWindow() {
          const chatWindow = document.querySelector(".chat-box");
          chatWindow.scrollTop = chatWindow.scrollHeight;
        }
        </script>
</body>
</html>